.header-container {
  z-index: 90;
}
.chat-container {
  padding-left: 355px;
  padding-top: 30px;
  padding-right: 30px;
  font-family: @secondary-font;
  min-height: 90vh;
  z-index: 7;

  h3, h2 {
    margin-top: 80px;
    font-family: @secondary-font;
    color: #00ABB4;
    font-weight: 900;
    width: 100%;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
  }
  .chat-page-thread {
    min-height: 100vh;
    height: 100vh;
  }

  .messages-thread {
    background-color: white;
  }

  .message-box {
    font-weight: 600;
  }
}

.sidenav {
  overflow: sroll;
  z-index: 8;
  h4 {
    font-family: @secondary-font;
    margin-bottom: 20px;
    padding-bottom: 0;
  }

  a {
    font-size: 12pt;
    font-weight: 600;
  }
}

@media (max-width: 800px) { 
  .chat-container {
    width: 96vw;
    padding-left: 10px;
    padding-top: 160px;
    margin-right: 0;
    padding-bottom: 30px;
  }
}