.notifications-container {
  background-color: white;
  width: 100%;
  align-self: center;
  justify-self: center;
  padding: 10%;
  padding-top: 50px;
  font-family: @secondary-font;
  font-weight: 600;
  min-height: 80vh;

  h3 {
    font-family: @secondary-font;
  }

  .not-list {
    display: flex;
    flex-direction: column;
    width: 100%;  
    align-self: center;
    justify-self: center;
    text-align: center;
    text-justify: center;

    .notif-item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 12pt;
      box-shadow: 0.5px 2px 7px #282c34;
      padding: 10px;
      padding: 1%;

      .time-ago {
         font-style: italic;
         font-size: 9pt;
      }

      .time-ago.from {
        background-color: @logo-color;
        padding: 7px;
        box-shadow: 0.5px 2px 7px #282c34;
        border-radius: 12px;
      }
    }
  }
}

.paginate-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;

  button {
    border: none;
    padding: 20px;
    width: 150px;
    color: white;
    background-color: @logo-color;
    box-shadow: 0.5px 2px 7px #282c34;
    font-family: @secondary-font;
    font-weight: 600;
    cursor: pointer;

    &:active {
      box-shadow: none;
    }
  }
}