@media(min-width: 1000px){


.profile-form {
  display: flex;
  flex-direction: column;
  font-family: Muli;
  min-height: 1100px;
  z-index: 6;
  position: absolute;
  width: 90vw;
  left: 5vw;
  top: 95px;
  border-radius: 5px;


  .profile-stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 25%;
    padding: 40px;
  
    .stat-block {
      .c-num {
        text-align: center;
        font-size: 24pt;
        font-weight: 900;
        margin: 0;
        padding: 0;
      }
      .j-num {
        text-align: center;
        font-weight: 900;
        color: gray;
      }
    }
  }

  .img-box {
    img {
      display: flex;
      justify-content: center;
      justify-self: center;
      align-self: center;
      border: 2px solid white;
      border-radius: 230px;
      max-width: 180px;
      min-width: 180px;
      box-shadow: 0.9px 2px 7px #282c34;
      position: absolute;
      left: 45%;
      top: 10px;
    }
  }

  .profile-info {
    display: flex;
    flex-direction: row;
    justify-items: space-between;
    justify-content: space-between;
    margin-bottom: 2%;
    background: none;
    background-color: none;
    width: 100%;
    padding: 2%;
    margin-top: 150px;
    background-color: white;
    border-radius: 5px;

    .profile-others {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      justify-items: space-evenly;
      align-self: center;
      justify-self: flex-start;
      text-align: center;
      margin-left: 1%;
      width: 50%;
      align-content: space-between;
      align-items: space-between;

      .name {
        font-family: Muli;
        font-size: 35pt;
        font-style: 'bold';   
        font-weight: 900;  
      }
      .username {
        color: @logo-color;
        font-family: @secondary-font;
        font-weight: 900;
      }

      h3 {
        margin: 0.1%;
        font-size: 15pt;
        font-family: @primary-font, 'serif';
      }

      h2 {
        margin-top: 2%;
        margin-bottom: 0;
        font-size: 19pt;
        font-family: @primary-font, 'serif';
      }

      .ratings {
        display: flex;
        flex-direction: row;
        justify-items: space-between;
        justify-content: space-between;
        align-self: center;
        border-radius: 10px;
        padding-bottom: 0.1%;
        padding-top: 1%;
        padding-left: 2%;
        padding-right: 3%;
        width: 34%;
        margin-top: 2%;
        
        p {
          display: flex;
          flex-direction: row;
          font-size: 19pt;
          margin: 1%;
          justify-items: space-between;
          justify-content: space-between;
          font-family: @primary-font, 'serif';
        }
      }
    }
  }

  .buttons {
    display: flex;
    flex-direction: column;
    justify-items: space-evenly;
    justify-content: space-evenly;
    justify-self: flex-end;
    align-self: space-evenly;
    width: 25%;

    .msg-button, .edit-button, .hire-button {
      //margin: 4%;
      border: none;
      background-color: #00ABB4;
      width: 200px;
      color: white;
      padding: 15px;
      font-family: Muli;
      font-weight: 700;
      font-size: 12pt;
      cursor: pointer;
      box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.02);
      transition: 1s box-shadow;
      border-radius: 5px;

    }
    .msg-button {
      &:hover {
        background-color: darken(#00ABB4,5);
      }
    }
    .hire-button {
      &:hover {
        background-color: darken(#00ABB4,5);
      }
    }
    .edit-button {
      &:hover {
        background-color: darken(#00ABB4,5);
      }
    }
  }

  .edit-profile {
    width: 95%;
    display: flex;
    flex-direction: column;
    padding: 1%;
    margin-top: 1%;
    justify-self: center;
    
    .buttons{
      display: flex;
      flex-direction: row;
      margin-top: 1%;
      width: 100%;
      justify-content: flex-end;
      
      .submit {
        background-color: @jubrillo-green;
        color: white;
        border: none;
        font-weight: 700;
        padding: 1%;
        font-family: @primary-font, 'serif';
        font-size: 12pt;
        border-radius: 10px;
        box-shadow: 0.9px 2px 7px #282c34;
        min-width: 20%;
      }
      .cancel {
        background-color: @jubrillo-pink;
        color: white;
        border: none;
        font-weight: 700;
        padding: 1%;
        font-family: @secondary-font;
        font-size: 12pt;
        border-radius: 10px;
        box-shadow: 0.9px 2px 7px #282c34;
        min-width: 20%;
      }
    }

    .control-styles {
      margin-bottom: 2%;
    }

    .profile-input {
      border-left: none;
      border-right: none;
      border-top: none;
      border-bottom: 1px solid lighten(gray,10);
      height: 6%;
      transition: border 1s;
      
      margin-bottom: 1%;

      &::placeholder {
        color: lighten(gray,27);
      }

      &:focus {
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom: 2px solid @jubrillo-pink;
      }
    }

    .switch-button {
      margin-bottom: 30px;
      font-size: 16pt;
    }
  }

  .profile-show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    background: white;
    box-shadow: 0.9px 2px 7px #282c34;
    border-radius: 5px;
    
    .profile-row {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      width: 100%;
      max-width: 100%;
      margin-top: 10px;
      padding: 5px;
      text-align: center;
      text-justify: center;
      flex-flow: wrap;

      h3 {
        width: 20%;
        font-size: 16pt;
        font-family: Muli;
      }

      h2 {
        width: 80%;
        font-size: 16pt;
        text-align: left;
        font-family: Muli;
      }

      .summary-view {
        display: flex;
        align-self: center;
        width: 100%;
        font-family: Muli;
      } 
      .summary-text {
        display: block;
        color: black;
        font-family: Muli;
      } 
    }
  }
}

.profile-out-row {
  display: flex;
  flex-direction: row;
  width: 100%;

  .user-stats {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    padding: 20px;

    h3 {
      min-width: 20vw;
      font-size: 16pt;
      font-family: @secondary-font, 'serif';
    }
  }
}
}

@media (max-width: 1000px) {
  .main-container {
    min-height: 1200px;
  }
  .profile-form {
    display: flex;
    flex-direction: column;
    font-family: Muli;
    z-index: 6;
    position: absolute;
    width: 90vw;
    left: 5vw;
    top: 95px;
    border-radius: 5px;
  
    .profile-stats {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      padding: 40px;
    
      .stat-block {
        .c-num {
          text-align: center;
          font-size: 24pt;
          font-weight: 900;
          margin: 0;
          padding: 0;
        }
        .j-num {
          text-align: center;
          font-weight: 900;
          color: gray;
        }
      }
    }
  
    .img-box {
      img {
        display: flex;
        justify-content: center;
        justify-self: center;
        align-self: center;
        border: 2px solid white;
        border-radius: 230px;
        max-width: 180px;
        min-width: 180px;
        box-shadow: 0.9px 2px 7px #282c34;
        position: absolute;
        left: 40%;
        top: 10px;
      }
    }
  
    .profile-info {
      display: flex;
      flex-direction: column;
      justify-items: space-between;
      justify-content: space-between;
      margin-bottom: 2%;
      background: none;
      background-color: none;
      width: 100%;
      padding: 2%;
      margin-top: 150px;
      background-color: white;
      border-radius: 5px;
  
      .profile-others {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        justify-items: space-evenly;
        align-self: center;
        justify-self: flex-start;
        text-align: center;
        margin-left: 1%;
        width: 100%;
        align-content: space-between;
        align-items: space-between;
  
        .name {
          font-family: Muli;
          font-size: 35pt;
          font-style: 'bold';   
          font-weight: 900;  
        }
        .username {
          color: @logo-color;
          font-family: @secondary-font;
          font-weight: 900;
        }
  
        h3 {
          margin: 0.1%;
          font-size: 15pt;
          font-family: @primary-font, 'serif';
        }
  
        h2 {
          margin-top: 2%;
          margin-bottom: 0;
          font-size: 19pt;
          font-family: @primary-font, 'serif';
        }
  
        .ratings {
          display: flex;
          flex-direction: row;
          justify-items: space-between;
          justify-content: space-between;
          align-self: center;
          border-radius: 10px;
          padding-bottom: 0.1%;
          padding-top: 1%;
          padding-left: 2%;
          padding-right: 3%;
          width: 34%;
          margin-top: 2%;
          margin-bottom: 2%;
          
          p {
            display: flex;
            flex-direction: row;
            font-size: 19pt;
            margin: 1%;
            justify-items: space-between;
            justify-content: space-between;
            font-family: @primary-font, 'serif';
          }
        }
      }
    }
  
    .buttons {
      display: flex;
      flex-direction: column;
      justify-items: center;
      justify-content: center;
      align-content: center;
      width: 100%;
  
      .msg-button, .edit-button, .hire-button {
        //margin: 4%;
        border: none;
        background-color: #00ABB4;
        width: 200px;
        color: white;
        padding: 15px;
        font-family: Muli;
        font-weight: 700;
        font-size: 12pt;
        cursor: pointer;
        box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.02);
        transition: 1s box-shadow;
        border-radius: 5px;
        justify-self: center;
      }
      .msg-button {
        &:hover {
          background-color: darken(#00ABB4,5);
        }
      }
      .hire-button {
        &:hover {
          background-color: darken(#00ABB4,5);
        }
      }
      .edit-button {
        &:hover {
          background-color: darken(#00ABB4,5);
        }
      }
    }
  
    .edit-profile {
      width: 95%;
      display: flex;
      flex-direction: column;
      padding: 1%;
      margin-top: 1%;
      justify-self: center;
      
      .buttons{
        display: flex;
        flex-direction: row;
        margin-top: 1%;
        width: 100%;
        justify-content: flex-end;
        
        .submit {
          background-color: @jubrillo-green;
          color: white;
          border: none;
          font-weight: 700;
          padding: 1%;
          font-family: @primary-font, 'serif';
          font-size: 12pt;
          border-radius: 10px;
          box-shadow: 0.9px 2px 7px #282c34;
          min-width: 20%;
        }
        .cancel {
          background-color: @jubrillo-pink;
          color: white;
          border: none;
          font-weight: 700;
          padding: 1%;
          font-family: @secondary-font;
          font-size: 12pt;
          border-radius: 10px;
          box-shadow: 0.9px 2px 7px #282c34;
          min-width: 20%;
        }
      }
  
      .control-styles {
        margin-bottom: 2%;
      }
  
      .profile-input {
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom: 1px solid lighten(gray,10);
        height: 6%;
        transition: border 1s;
        
        margin-bottom: 1%;
  
        &::placeholder {
          color: lighten(gray,27);
        }
  
        &:focus {
          border-left: none;
          border-right: none;
          border-top: none;
          border-bottom: 2px solid @jubrillo-pink;
        }
      }
  
      .switch-button {
        margin-bottom: 30px;
        font-size: 16pt;
      }
    }
  
    .profile-show {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-self: center;
      background: white;
      box-shadow: 0.9px 2px 7px #282c34;
      border-radius: 5px;
      width: 100%;
      
      .profile-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        justify-items: flex-start;
        margin-top: 10px;
        padding: 5px;
        text-align: center;
        text-justify: center;
        flex-flow: wrap;
  
        h3 {
          width: 20%;
          font-size: 16pt;
          font-family: Muli;
        }
  
        h2 {
          width: 80%;
          font-size: 16pt;
          text-align: left;
          font-family: Muli;
        }
  
        .summary-view {
          display: flex;
          align-self: center;
          width: 100%;
          font-family: Muli;
        } 
      }
    }
  }
  
  .profile-out-row {
    display: flex;
    flex-direction: row;
  
    .user-stats {
      display: flex;
      flex-direction: column;
      margin-right: 10px;
      padding: 20px;
  
      h3 {
        min-width: 20vw;
        font-size: 16pt;
        font-family: Muli;
      }
    }
  }
}




@media(min-width: 1000px) {
  .profile-form .profile-show {
  width: 100vw;
}
}



.container {
  min-height: 1100px;
}

.MuiTypography-body1 {
  font-size: 16pt;
  font-family: Muli;
  font-weight: 400;
}