.work-steps {
  background-color: @logo-color;
  padding: 1%;

  .next-button {
    background-color: @jubrillo-pink;
  }
  span, text {
    font-size: 12pt;
  }
  
  .makeStyles-root-1 {
    width: 100%;
  }
}