.work-steps {
  background-color: @logo-color;
  padding: 1%;
  box-shadow: 0.5px 2px 7px #282c34;

  .next-button {
    background-color: @jubrillo-pink;
    box-shadow: 0.5px 2px 7px #282c34;
  }
  span, text {
    font-size: 12pt;
  }
  
  .makeStyles-root-1 {
    width: 100%;
  }
}

.messages-thread {
  display: flex;
  flex-direction: column-reverse;
  max-height: 600px;
  min-height: 300px;
  overflow-y: scroll;
  border: 1px solid gray;
  bottom:0;
  padding: 3%;
}

.chat-thread {
  display: flex;
  flex-direction: column-reverse;
  box-shadow: 0.5px 2px 7px #282c34;
}


.send-message {
  display: flex;
  text-align: center;
  width: 100%;
  margin-top: 1%;
  justify-content: flex-end;

  button {
    padding: 1.5%;
    border: none;
    background-color: @jubrillo-pink;
    color: white;
    font-family: @secondary-font;
    font-size: 12pt;
    width: 130px;
    align-self: flex-end;
    cursor: pointer;
    box-shadow: 0.5px 2px 7px #282c34;
  
    &:active{
      box-shadow: none;
    }
  }

}

.message-box {
  display: flex;
  flex-direction: column-reverse;
  padding: 5px;
  background-color: lightgray;
  margin: 8px;
  margin-left: 20px;
  box-shadow: 0.5px 2px 7px #282c34;
  border-radius: 10px;
  padding: 12px;

  &:hover {
    background-color: gray;
  }

  .msg-details {
    display: flex;
    flex-direction: row;
    margin-bottom: 1px;
    border-top: 1px solid black;
    margin-top: 10px;
    padding-top: 7px;
    width: 100%;

    .msg-time {
      font-size: 8pt;
      font-style: italic;
      background-color: @logo-color;
      padding-right: 6px;
      padding-left: 6px;
      border-radius: 5px;
    }
  }

  .msg-from {
    font-size: 9pt;
  }
  

  .msg-from, .msg-time, .p-text, p {
    margin: 1px;
    margin-right: 10px;
    padding: 0;
  }

  
}

.fund-opts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2%;


  button {
    border: none;
    background-color: @jubrillo-pink;
    color: white;
    font-family: @secondary-font;
    padding: 2%;
    box-shadow: 0.5px 2px 7px #282c34;
    cursor: pointer;
    width: 100px;

    &:active {
      box-shadow: none;
    }
  }
}

.project-view-page {
  .App, .work-steps, .messages-thread {
    box-shadow: 0.5px 2px 7px #282c34;
  }
}

.makeStyles-root-1 {
  width: 100%;

  .stepper {
    box-shadow: 0.5px 2px 7px #282c34;
    border-radius: 10px;
  }
}

.employer-info {
  
  a {
    text-decoration: none;
  }
}