.projects-list {
  margin-left: 355px;
  margin-top: 30px;
  min-height: 90vh;

  .project-card {
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
    width: 100%;
    max-width: 97%;
    padding: 10px;
    // box-shadow: 0.9px 2px 7px #282c34;
  }

  .text-span {
    display: block;
    height: 85px;
    overflow: hidden;
    white-space: wrap;
    text-overflow: ellipsis;
    margin: 0;
    font-family: @secondary-font;
    font-size: 10pt;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .job-heading, .rating-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    width: 100%;

    p {
      font-size: 13pt;
    }

    .budget-amount {
      margin-left: 10px;
      font-size: 10pt;
      background-color: lighten(@primary-color,20);
      padding: 5px;
      border-radius: 4px;
      box-shadow: 0.5px 2px 7px #282c34;
    }
  }

  h2, span, div {
    margin: 0;
    font-family: @secondary-font;
  }

  a {
    font-size: 13pt;
    text-decoration: none;
    font-weight: 900;

    &:hover {
      text-decoration: underline;
    }
  }
}

.add-project-button {
  margin-left: 355px;
  margin-top: 80px;
  align-self: right;
  justify-self: right;
  border: none;
  background-color: @jubrillo-pink;
  width: 200px;
  color: white;
  padding: 1%;
  font-family: @secondary-font;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0.9px 2px 7px #282c34;
  transition: 1s box-shadow;

  &:hover {
    box-shadow: none;
  }
}

.add-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  display: flex;
  margin-bottom: 2%;
  width: 100%;
  max-width: 77%;
  padding: 10px;
  padding-right: 30px;
  margin-left: 355px;
  border-bottom: 0.3px solid lighten(black,60);
}

.time-ago {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  align-self: center;
  justify-self: center;
  font-style: italic;
  font-size: 6pt;
  max-width: 400px;
}

@media (max-width: 800px) {
  .add-button-container {
    margin-left: 1px;
    padding: 20px;
    min-width: 90vw;
    align-self: center;
    justify-self: center;
    margin-top: 120px;
  }
  .add-project-button {
    min-width: 40vw;
  }
  .projects-list {
    width: 90vw;
    padding-left: 12px;
    margin-left: 0;
  }
}