.work-steps {
  background-color: @logo-color;
  padding: 1%;
  box-shadow: 0.5px 2px 7px #282c34;

  .next-button {
    background-color: @jubrillo-pink;
    box-shadow: 0.5px 2px 7px #282c34;
  }
  span, text {
    font-size: 12pt;
  }
  
  .makeStyles-root-1 {
    width: 100%;
  }

}

.messages-thread {
  display: flex;
  flex-direction: column-reverse;
  max-height: 400px;
  min-height: 300px;
  overflow-y: scroll;
  border: 1px solid gray;
  bottom:0;
  padding: 3%;
}

.chat-thread {
  display: flex;
  flex-direction: column-reverse;
  box-shadow: 0.5px 2px 7px #282c34;
}


.send-message {
  display: flex;
  text-align: center;
  width: 100%;
  margin-top: 1%;
  justify-content: flex-end;

  button {
    padding: 1.5%;
    border: none;
    background-color: @jubrillo-pink;
    color: white;
    font-family: @secondary-font;
    font-size: 12pt;
    width: 130px;
    align-self: flex-end;
    cursor: pointer;
    box-shadow: 0.5px 2px 7px #282c34;
  
    &:active{
      box-shadow: none;
    }
  }

}

.message-box {
  display: flex;
  flex-direction: column-reverse;
  padding: 5px;
  background-color: lightgray;
  margin: 8px;
  margin-left: 20px;
  box-shadow: 0.5px 2px 7px #282c34;
  border-radius: 10px;
  padding: 12px;

  &:hover {
    background-color: gray;
  }

  .msg-details {
    display: flex;
    flex-direction: row;
    margin-bottom: 1px;
    border-top: 1px dashed black;
    margin-top: 10px;
    padding-top: 7px;
    width: 100%;

    .msg-time {
      font-size: 8pt;
      font-style: italic;
      background-color: @logo-color;
      padding-right: 6px;
      padding-left: 6px;
      border-radius: 5px;
    }
  }

  .msg-from {
    font-size: 9pt;
  }
  

  .msg-from, .msg-time, .p-text, p {
    margin: 1px;
    margin-right: 10px;
    padding: 0;
  }

  
}

.fund-opts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4%;
  background-color: white;
  margin-bottom: 30px;
  box-shadow: 0.5px 2px 7px #282c34;
  border-radius: 10px;

  .fund-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
  }

  button {
    border: none;
    background-color: @jubrillo-pink;
    color: white;
    font-family: @secondary-font;
    padding: 2%;
    box-shadow: 0.5px 2px 7px #282c34;
    cursor: pointer;
    width: 49%;
    border-radius: 10px;
    font-weight: 700;

    &:active {
      box-shadow: none;
    }
  }
}

.project-view-page {
  .App, .work-steps, .messages-thread {
    box-shadow: 0.5px 2px 7px #282c34;
  }
}

.makeStyles-root-1 {
  width: 100%;

  .stepper {
    box-shadow: 0.5px 2px 7px #282c34;
    border-radius: 10px;
  }
}

.employer-info {
  
  a {
    text-decoration: none;
  }
  .employer-name {
    font-size: 15pt;
  }
  .balance-name {
    font-size: 16pt;
    align-self: center;
  }
}

.alert {
  padding: 20px;
  color: white;
  margin-top: 15px;
  font-size: 12pt;
  box-shadow: 0.5px 2px 7px #282c34;
  border-radius: 10px;
  width: 400px;
  max-width: 100%;
}

.error-alert {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  left: 0;
  top: 0;
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
  margin-top: 70px;
  margin-left: 35%;
  align-items: center;
  font-size: 12pt;
  padding: 10px;
}

/* The close button */
.close-alert {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.close-alert:hover {
  color: black;
}