@import "../../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 400;
  src: local('Alegreya Regular'), local('Alegreya-Regular'), url(http://fonts.gstatic.com/s/alegreya/v13/4UaBrEBBsBhlBjvfkSLhx60.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local('Nunito Regular'), local('Nunito-Regular'), url(http://fonts.gstatic.com/s/nunito/v12/XRXV3I6Li01BKofINeaE.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  src: local('IBM Plex Mono'), local('IBMPlexMono'), url(http://fonts.gstatic.com/s/ibmplexmono/v5/-F63fjptAgt5VM-kVkqdyU8n1i8q0g.ttf) format('truetype');
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  width: 100%;
  margin: auto;
}
.main {
  display: flex;
  flex-direction: column;
  background-color: #4d4d4d;
}
.main .navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: left;
  align-items: left;
  align-content: left;
  position: fixed;
  width: 100%;
  box-shadow: 0.5px 2px 7px #282c34;
  background-color: white;
  border-top: 1px solid #4d4d4d;
  margin-top: 0;
  align-self: center;
  padding-left: 15px;
  padding-right: 15px;
  z-index: 9;
}
.main .navbar .navImg {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  justify-content: flex-start;
  width: 100px;
  max-height: 100px;
  margin-left: 1%;
  margin-bottom: 0.5%;
  margin-top: 0.5%;
  align-self: left;
  align-items: center;
  align-content: center;
  padding-right: 1%;
  border-right: 1.5px solid #546E7A;
  cursor: pointer;
  opacity: 1;
  transition: opacity 1s;
}
.main .navbar .navImg:hover {
  opacity: 0.5;
}
.main .navbar .links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 90%;
  margin-right: 1%;
  font-size: 9pt;
  text-align: center;
  align-content: center;
  align-items: center;
  font-weight: 900;
}
.main .navbar .links .link {
  font-family: 'Nunito', 'serif';
  font-weight: 1200;
  text-decoration: none;
  align-self: center;
  justify-items: center;
  justify-content: center;
  color: #546e7a;
  padding-top: 12px;
  height: 115%;
  width: 19%;
  letter-spacing: 0.1em;
  white-space: nowrap;
  border-top: 3px solid #4d4d4d;
  margin-top: 0;
  font-style: 'bold';
  text-transform: uppercase;
  transition: background-color 1s;
}
.main .navbar .links .link:hover {
  font-weight: 1200;
  color: white;
  background-color: #00abb4;
  border-top: 3px solid #00abb4;
}
.main .navbar .links .link:active {
  font-size: 8pt;
}
.main .navbar .links .link:focus {
  font-weight: 1200;
  color: white;
  background-color: #00abb4;
  border-top: 3px solid #00abb4;
}
.main .navbar .links .signbutton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-items: center;
  font-weight: 900;
  letter-spacing: 0.1em;
  color: white;
  font-size: 9pt;
  transition: all 0.5s ease;
  -webkit-appearance: none;
  font-family: 'IBM Plex Mono', Arial, sans-serif;
  width: 27%;
  height: 115%;
  border-top: 7px solid #00abb4;
  background: #FF3366;
  border: 0;
  overflow: hidden;
  cursor: pointer;
  transition: background 1s;
}
.main .navbar .links .signbutton:hover,
.main .navbar .links .signbutton:focus {
  color: white;
  background: #3f535c;
  border: #3f535c;
}
.main .navbar .links .signbutton:active {
  font-size: 7pt;
}
.main .navbar .search {
  float: left;
  width: 38%;
  display: flex;
  margin-top: 0.2%;
  margin-right: 2%;
  margin-left: 0;
  align-self: left;
  transition: border-bottom 1s;
}
.main .navbar .search .searchTerm {
  width: 120%;
  border-right: none;
  padding: 5px;
  height: 95%;
  border: 0;
  outline: none;
  color: #546E7A;
  margin-left: 1%;
  transition: 0.5s border-bottom;
}
.main .navbar .search .searchTerm::placeholder {
  color: #546E7A;
  font-weight: 400;
  font-size: 12pt;
  font-family: 'Nunito', 'serif';
}
.main .navbar .search .searchTerm:focus {
  color: #546E7A;
  border-bottom: 2px solid #FF3366;
}
.main .navbar .search .searchButton {
  width: 40px;
  height: 30px;
  border: 0;
  background: white;
  border-radius: 0 9px 9px 0;
  text-align: center;
  color: #546E7A;
  cursor: pointer;
  font-size: 22px;
  margin-top: 0;
}
.dropbtn {
  background-color: #FF3366;
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 16px;
  font-weight: 700;
  border: none;
  width: 280px;
  font-family: 'IBM Plex Mono', Arial, sans-serif;
  letter-spacing: 0.1em;
  font-size: 9pt;
  cursor: pointer;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  width: 320px;
  font-family: 'IBM Plex Mono', Arial, sans-serif;
  letter-spacing: 0.1em;
  font-size: 9pt;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #00abb4;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  width: 280px;
  z-index: 1;
  font-family: 'IBM Plex Mono', Arial, sans-serif;
  letter-spacing: 0.1em;
  font-size: 9pt;
}
/* Links inside the dropdown */
.drop-link {
  color: black;
  padding: 12px 16px;
  width: 100%;
  text-decoration: none;
  display: block;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding-left: 15%;
  padding-right: 15%;
  align-self: center;
  justify-items: flex-start;
  font-family: 'IBM Plex Mono', Arial, sans-serif;
  letter-spacing: 0.1em;
  font-size: 10pt;
}
.drop-link:hover {
  background-color: #ddd;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #00abb4;
}
.cta-container {
  margin-top: 0.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  width: 96%;
  font-family: 'Nunito' 'serif';
  padding: 4%;
}
.cta-container .cta-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 48%;
}
.cta-container .cta-text h1 {
  font-family: 'Nunito', 'serif';
  text-transform: uppercase;
  color: #00abb4;
}
.cta-container .cta-text p {
  font-family: 'Nunito', 'serif';
  text-transform: uppercase;
  color: aliceblue;
}
.cta-container .cta-text .cta-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
}
.cta-container .cta-text .cta-buttons .gs-button {
  width: 45%;
  border: 0;
  height: 4rem;
  margin: 5rem 0 2.2rem;
  color: rgba(255, 255, 255, 0.8);
  background: #00abb4;
  font-size: 1.5rem;
  border-radius: 3rem;
  cursor: pointer;
  overflow: hidden;
  font-family: 'Nunito', 'serif';
  font-weight: 900;
  transition: width 0.3s 0.15s, font-size 0.1s 0.15s;
}
.cta-container .cta-text .cta-buttons .gs-button:hover {
  background-color: #4d4d4d;
  border: 1px solid #00abb4;
}
.cta-container .cta-text .cta-buttons .gs-button:active {
  font-size: 1.4rem;
}
.cta-container .cta-text .cta-buttons .faq-button {
  width: 45%;
  height: 4rem;
  margin: 5rem 0 2.2rem;
  color: rgba(255, 255, 255, 0.8);
  background: #FF3366;
  font-size: 1.5rem;
  border-radius: 3rem;
  cursor: pointer;
  overflow: hidden;
  border: 0;
  font-family: 'Nunito', 'serif';
  font-weight: 900;
  transition: width 0.3s 0.15s, font-size 0.1s 0.15s;
}
.cta-container .cta-text .cta-buttons .faq-button:hover {
  background-color: #4d4d4d;
  border: 1px solid #FF3366;
}
.cta-container .cta-text .cta-buttons .faq-button:active {
  font-size: 1.4rem;
}
.cta-container img {
  display: flex;
  width: 50%;
  margin-top: 2.7%;
  opacity: 0.7;
}
.profile-form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  background-color: white;
  font-family: 'Nunito', 'serif';
}
.profile-form .profile-info {
  display: flex;
  flex-direction: row;
  justify-items: space-between;
  justify-content: space-between;
  margin-bottom: 2%;
  background-color: #4d4d4d;
  width: 100%;
  padding: 2%;
  box-shadow: 0.9px 4px 9px #282c34;
}
.profile-form .profile-info .profile-others {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-items: space-evenly;
  align-self: center;
  justify-self: flex-start;
  margin-left: 1%;
  width: 70%;
  align-content: space-between;
  align-items: space-between;
}
.profile-form .profile-info .profile-others .name {
  font-family: 'IBM Plex Mono', Arial, sans-serif;
  font-size: 35pt;
  font-style: 'bold';
}
.profile-form .profile-info .profile-others .username {
  color: #00abb4;
  font-family: 'IBM Plex Mono', Arial, sans-serif;
  font-weight: 900;
}
.profile-form .profile-info .profile-others h3 {
  margin: 0.1%;
  font-size: 15pt;
  font-family: 'Nunito', 'serif';
}
.profile-form .profile-info .profile-others h2 {
  margin-top: 2%;
  margin-bottom: 0;
  font-size: 19pt;
  font-family: 'Nunito', 'serif';
}
.profile-form .profile-info .profile-others .ratings {
  display: flex;
  flex-direction: row;
  justify-items: space-between;
  justify-content: space-between;
  background-color: white;
  border-radius: 10px;
  padding-bottom: 0.1%;
  padding-top: 1%;
  padding-left: 2%;
  padding-right: 3%;
  box-shadow: 0.9px 2px 7px #282c34;
  width: 34%;
  margin-top: 2%;
}
.profile-form .profile-info .profile-others .ratings p {
  display: flex;
  flex-direction: row;
  font-size: 19pt;
  margin: 1%;
  justify-items: space-between;
  justify-content: space-between;
  font-family: 'Nunito', 'serif';
}
.profile-form .profile-info img {
  display: flex;
  justify-content: center;
  justify-self: center;
  width: 12%;
  align-self: center;
  border: 2px solid #4d4d4d;
  border-radius: 230px;
  box-shadow: 0.9px 2px 7px #282c34;
}
.profile-form .buttons {
  display: flex;
  flex-direction: column;
  justify-items: space-evenly;
  justify-content: space-evenly;
  justify-self: flex-end;
  align-self: space-evenly;
  width: 15%;
}
.profile-form .buttons .msg-button,
.profile-form .buttons .edit-button,
.profile-form .buttons .hire-button {
  margin: 4%;
  border-radius: 10px;
  box-shadow: 0.9px 2px 7px #282c34;
  font-family: 'Nunito', 'serif';
  font-size: 12pt;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: space-between;
  justify-self: center;
  align-content: space-between;
  align-items: space-between;
  text-align: center;
}
.profile-form .buttons .msg-button {
  background-color: #4CAF50;
  /* Green */
}
.profile-form .buttons .msg-button:hover {
  background-color: #449d48;
}
.profile-form .buttons .hire-button {
  background-color: #4CAF50;
  /* Green */
}
.profile-form .buttons .hire-button:hover {
  background-color: #449d48;
}
.profile-form .buttons .edit-button {
  background-color: #999917;
  /* Green */
}
.profile-form .buttons .edit-button:hover {
  background-color: #838314;
}
.profile-form .edit-profile {
  width: 95%;
  display: flex;
  flex-direction: column;
  padding: 1%;
  justify-content: space-between;
  margin: 1%;
  justify-self: center;
}
.profile-form .edit-profile .buttons {
  display: flex;
  flex-direction: row;
  margin-top: 1%;
  width: 100%;
  justify-content: flex-end;
}
.profile-form .edit-profile .buttons .submit {
  background-color: #4CAF50;
  color: white;
  border: none;
  font-weight: 700;
  padding: 1%;
  font-family: 'Nunito', 'serif';
  font-size: 12pt;
  border-radius: 10px;
  box-shadow: 0.9px 2px 7px #282c34;
  min-width: 20%;
}
.profile-form .edit-profile .buttons .cancel {
  background-color: #FF3366;
  color: white;
  border: none;
  font-weight: 700;
  padding: 1%;
  font-family: 'IBM Plex Mono', Arial, sans-serif;
  font-size: 12pt;
  border-radius: 10px;
  box-shadow: 0.9px 2px 7px #282c34;
  min-width: 20%;
}
.profile-form .edit-profile .control-styles {
  margin-bottom: 2%;
}
.profile-form .edit-profile .profile-input {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid #9a9a9a;
  height: 6%;
  transition: border 1s;
  margin-bottom: 1%;
}
.profile-form .edit-profile .profile-input::placeholder {
  color: #c5c5c5;
}
.profile-form .edit-profile .profile-input:focus {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 2px solid #FF3366;
}
.profile-form .edit-profile .switch-button {
  margin-bottom: 30px;
  font-size: 16pt;
}
.profile-form .profile-show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}
.profile-form .profile-show .profile-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: flex-start;
  background: white;
  box-shadow: 0.9px 2px 7px #282c34;
  width: 1200px;
  max-width: 90%;
  margin-top: 10px;
  padding: 5px;
  text-align: center;
  text-justify: center;
}
.profile-form .profile-show .profile-row h3 {
  width: 20%;
  font-size: 16pt;
  font-family: 'IBM Plex Mono', Arial, sans-serif, 'serif';
}
.profile-form .profile-show .profile-row h2 {
  width: 80%;
  font-size: 16pt;
  text-align: left;
  font-family: 'IBM Plex Mono', Arial, sans-serif, 'serif';
}
.profile-form .profile-show .profile-row .summary-view {
  display: flex;
  align-self: center;
  width: 80%;
  font-family: 'IBM Plex Mono', Arial, sans-serif, 'serif';
}
.freelancers-container {
  background-color: white;
}
.freelancers-container .freelancers-list {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  padding-top: 70px;
}
.freelancers-container .freelancers-list .freelancer-card {
  box-shadow: 0.9px 2px 7px #282c34;
  font-family: 'IBM Plex Mono', Arial, sans-serif;
  border-radius: 20px;
  padding: 1%;
  display: flex;
  flex-direction: row;
  margin: 5px;
  cursor: pointer;
  transition: 2s background-color;
  max-width: 45%;
}
.freelancers-container .freelancers-list .freelancer-card:hover {
  background-color: #cdcdcd;
}
.freelancers-container .freelancers-list .freelancer-card h2,
.freelancers-container .freelancers-list .freelancer-card h3,
.freelancers-container .freelancers-list .freelancer-card h4,
.freelancers-container .freelancers-list .freelancer-card p {
  font-family: 'IBM Plex Mono', Arial, sans-serif;
  margin-bottom: 1px;
  margin-top: 1px;
}
.freelancers-container .freelancers-list .freelancer-card img {
  width: 150px;
  margin-right: 15px;
  border: 2px solid #FF3366;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.sidenav {
  height: 100%;
  width: 325px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 80px;
  background-color: #00abb4;
  padding-left: 20px;
  padding-right: 10px;
  box-shadow: 0.9px 2px 7px #282c34;
  max-width: 17%;
}
.sidenav .control-styles {
  border-bottom: none;
}
.sidenav .completed-input {
  width: 100%;
  border-right: none;
  padding: 1px;
  border: 0;
  outline: none;
  background-color: #00abb4;
  border-bottom: 1px solid #4d4d4d;
  color: #546E7A;
  transition: 0.5s border-bottom;
}
.sidenav .completed-input::placeholder {
  color: #546E7A;
  font-weight: 400;
  font-size: 12pt;
  font-family: 'Nunito', 'serif';
}
.sidenav .completed-input:focus {
  color: #546E7A;
  border-bottom: 2px solid #FF3366;
}
.sidenav p {
  font-family: 'IBM Plex Mono', Arial, sans-serif;
  font-weight: 700;
}
.sidenav .sort-apply {
  border: none;
  background-color: #FF3366;
  width: 45%;
  color: white;
  padding: 4%;
  font-family: 'IBM Plex Mono', Arial, sans-serif;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0.9px 2px 7px #282c34;
  transition: 1s box-shadow;
}
.sidenav .sort-apply:hover {
  box-shadow: none;
}
.sidenav .sort-apply.reset {
  background-color: #999917;
}
.sidenav .sort-actions {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  margin-top: 20px;
}
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.main {
  font-size: 28px;
  /* Increased text to enable scrolling */
}
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
.name-link {
  text-decoration: none;
}
.name-link:hover {
  text-decoration: underline;
}
@media (max-width: 1200px) {
  .freelancers-list {
    flex-direction: column;
    padding-left: 0;
    width: 100vw;
  }
  .freelancer-card {
    min-width: 80%;
    max-width: 100vw;
  }
}
@media (max-width: 2000px) {
  .freelancers-list {
    margin-left: 350px;
  }
}
@media (max-width: 800px) {
  .freelancers-list {
    flex-direction: column;
    padding-left: 0;
    width: 100vw;
    margin-left: 10px;
  }
  .freelancer-card {
    min-width: 80%;
    max-width: 100vw;
  }
  .sidenav {
    display: none;
  }
}
.form-container {
  margin-top: 40px;
  padding: 1%;
  padding-right: 3%;
  background-color: white;
}
.form-container h2 {
  font-family: 'IBM Plex Mono', Arial, sans-serif;
}
.form-container .App {
  min-height: 200px;
}
.edit-profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1%;
  justify-self: center;
}
.edit-profile .buttons {
  display: flex;
  flex-direction: row;
  margin-top: 1%;
  width: 100%;
  justify-content: flex-end;
}
.edit-profile .buttons .submit {
  background-color: #4CAF50;
  color: white;
  border: none;
  font-weight: 700;
  padding: 1%;
  font-family: 'Nunito', 'serif';
  font-size: 12pt;
  border-radius: 10px;
  box-shadow: 0.9px 2px 7px #282c34;
  min-width: 20%;
}
.edit-profile .buttons .cancel {
  background-color: #FF3366;
  color: white;
  border: none;
  font-weight: 700;
  padding: 1%;
  font-family: 'IBM Plex Mono', Arial, sans-serif;
  font-size: 12pt;
  border-radius: 10px;
  box-shadow: 0.9px 2px 7px #282c34;
  min-width: 20%;
}
.edit-profile .control-styles {
  margin-bottom: 2%;
}
.edit-profile .profile-input {
  width: 100%;
  padding: 1px;
  border: 0;
  outline: none;
  background-color: white;
  border-bottom: 1px solid #4d4d4d;
  transition: 0.5s border-bottom;
  margin-bottom: 3%;
  font-family: 'IBM Plex Mono', Arial, sans-serif;
  font-size: 14pt;
  color: black;
}
.edit-profile .profile-input::placeholder {
  color: #546E7A;
  font-weight: 400;
  font-size: 12pt;
  font-family: 'Nunito', 'serif';
}
.edit-profile .profile-input:focus {
  color: #546E7A;
  border-bottom: 2px solid #FF3366;
}
.edit-profile .submit {
  margin-right: 5%;
}
.projects-list {
  margin-left: 355px;
  margin-top: 30px;
}
.projects-list .project-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
  width: 100%;
  max-width: 97%;
  padding: 10px;
}
.projects-list .text-span {
  display: block;
  height: 85px;
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
  margin: 0;
  font-family: 'IBM Plex Mono', Arial, sans-serif;
  font-size: 10pt;
  font-weight: 700;
  margin-bottom: 10px;
}
.projects-list .job-heading,
.projects-list .rating-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: center;
  align-items: center;
  width: 100%;
}
.projects-list .job-heading p,
.projects-list .rating-row p {
  font-size: 13pt;
}
.projects-list .job-heading .budget-amount,
.projects-list .rating-row .budget-amount {
  margin-left: 10px;
  font-size: 10pt;
  background-color: #87a1ad;
  padding: 5px;
  border-radius: 4px;
  box-shadow: 0.5px 2px 7px #282c34;
}
.projects-list h2,
.projects-list span,
.projects-list div {
  margin: 0;
  font-family: 'IBM Plex Mono', Arial, sans-serif;
}
.projects-list a {
  font-size: 13pt;
  text-decoration: none;
  font-weight: 900;
}
.projects-list a:hover {
  text-decoration: underline;
}
.add-project-button {
  margin-left: 355px;
  margin-top: 80px;
  align-self: right;
  justify-self: right;
  border: none;
  background-color: #FF3366;
  width: 200px;
  color: white;
  padding: 1%;
  font-family: 'IBM Plex Mono', Arial, sans-serif;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0.9px 2px 7px #282c34;
  transition: 1s box-shadow;
}
.add-project-button:hover {
  box-shadow: none;
}
.add-button-container {
  flex-direction: row;
  justify-content: flex-end;
  display: flex;
  margin-bottom: 2%;
  width: 100%;
  max-width: 77%;
  padding: 10px;
  padding-right: 30px;
  margin-left: 355px;
  border-bottom: 0.3px solid #999999;
}
.time-ago {
  margin-left: 20px;
  align-self: center;
  justify-self: center;
  font-style: italic;
  font-size: 6pt;
}
.project-container {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding-top: 60px;
}
.project-container .project-view-page {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  width: 70%;
  margin: 20px;
  margin-right: 30px;
}
.project-container .employer-info {
  background-color: #00abb4;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0.5px 2px 7px #282c34;
  border-radius: 12px;
  min-height: 600px;
  max-height: 700px;
}
.project-container .employer-info p {
  margin-bottom: 0;
}
.project-container .employer-info .rating-emp {
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 3px;
}
.project-container h2,
.project-container h3,
.project-container h4,
.project-container p,
.project-container .p-text {
  font-family: 'IBM Plex Mono', Arial, sans-serif;
  font-weight: 900;
}
.project-container .completed-input {
  width: 100%;
  border-right: none;
  padding: 1px;
  border: 0;
  outline: none;
  background-color: #00abb4;
  border-bottom: 1px solid #4d4d4d;
  color: black;
  transition: 0.5s border-bottom;
  font-size: 12pt;
}
.project-container .completed-input::placeholder {
  color: black;
  font-weight: 400;
  font-size: 12pt;
  font-family: 'Nunito', 'serif';
}
.project-container .completed-input:focus {
  color: black;
  border-bottom: 2px solid #FF3366;
}
.project-container .apply {
  margin-top: 40px;
  border-top: 1px solid #4d4d4d;
}
.project-container .apply .sort-apply {
  border: none;
  background-color: #FF3366;
  width: 45%;
  color: white;
  padding: 4%;
  font-family: 'IBM Plex Mono', Arial, sans-serif;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0.9px 2px 7px #282c34;
  transition: 1s box-shadow;
  margin-top: 40px;
}
.project-container .apply .sort-apply:hover {
  box-shadow: none;
}
.project-container .control-pane {
  max-width: 90%;
}
.project-container .applications {
  background-color: white;
}
.project-container .applicant-heading {
  background-color: #00abb4;
  padding: 20px;
  width: 100%;
  box-shadow: 0.5px 2px 7px #282c34;
}
.project-container .applicants-list {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
}
.project-container .periphery-applicant {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #00abb4;
  box-shadow: 0.5px 2px 7px #282c34;
  padding: 20px;
  margin: 5px;
}
.project-container .periphery-applicant span {
  padding-top: 40px;
  margin-right: 20px;
}
.project-container .applicant-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  background-color: #00abb4;
  min-height: 100px;
  max-height: 100px;
}
.project-container .applicant-card a,
.project-container .applicant-card h3,
.project-container .applicant-card h4,
.project-container .applicant-card p {
  margin: 5px;
  font-size: 12pt;
}
.project-container .buttons-stack {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
  height: 90%;
  max-width: 350px;
}
.project-container .hire-applicant {
  border: none;
  background-color: #FF3366;
  width: 100%;
  height: 40%;
  color: white;
  padding: 5px;
  font-family: 'IBM Plex Mono', Arial, sans-serif;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0.9px 2px 7px #282c34;
  transition: 1s box-shadow;
  align-self: center;
  justify-self: center;
}
.project-container .hire-applicant:hover {
  box-shadow: none;
}
.work-steps {
  background-color: #00abb4;
  padding: 1%;
  box-shadow: 0.5px 2px 7px #282c34;
}
.work-steps .next-button {
  background-color: #FF3366;
  box-shadow: 0.5px 2px 7px #282c34;
}
.work-steps span,
.work-steps text {
  font-size: 12pt;
}
.work-steps .makeStyles-root-1 {
  width: 100%;
}
.messages-thread {
  display: flex;
  flex-direction: column-reverse;
  max-height: 400px;
  min-height: 300px;
  overflow-y: scroll;
  border: 1px solid gray;
  bottom: 0;
  padding: 3%;
}
.chat-thread {
  display: flex;
  flex-direction: column-reverse;
  box-shadow: 0.5px 2px 7px #282c34;
}
.send-message {
  display: flex;
  text-align: center;
  width: 100%;
  margin-top: 1%;
  justify-content: flex-end;
}
.send-message button {
  padding: 1.5%;
  border: none;
  background-color: #FF3366;
  color: white;
  font-family: 'IBM Plex Mono', Arial, sans-serif;
  font-size: 12pt;
  width: 130px;
  align-self: flex-end;
  cursor: pointer;
  box-shadow: 0.5px 2px 7px #282c34;
}
.send-message button:active {
  box-shadow: none;
}
.message-box {
  display: flex;
  flex-direction: column-reverse;
  padding: 5px;
  background-color: lightgray;
  margin: 8px;
  margin-left: 20px;
  box-shadow: 0.5px 2px 7px #282c34;
  border-radius: 10px;
  padding: 12px;
}
.message-box:hover {
  background-color: gray;
}
.message-box .msg-details {
  display: flex;
  flex-direction: row;
  margin-bottom: 1px;
  border-top: 1px dashed black;
  margin-top: 10px;
  padding-top: 7px;
  width: 100%;
}
.message-box .msg-details .msg-time {
  font-size: 8pt;
  font-style: italic;
  background-color: #00abb4;
  padding-right: 6px;
  padding-left: 6px;
  border-radius: 5px;
}
.message-box .msg-from {
  font-size: 9pt;
}
.message-box .msg-from,
.message-box .msg-time,
.message-box .p-text,
.message-box p {
  margin: 1px;
  margin-right: 10px;
  padding: 0;
}
.fund-opts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4%;
  background-color: white;
  margin-bottom: 30px;
  box-shadow: 0.5px 2px 7px #282c34;
  border-radius: 10px;
}
.fund-opts .fund-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
}
.fund-opts button {
  border: none;
  background-color: #FF3366;
  color: white;
  font-family: 'IBM Plex Mono', Arial, sans-serif;
  padding: 2%;
  box-shadow: 0.5px 2px 7px #282c34;
  cursor: pointer;
  width: 49%;
  border-radius: 10px;
  font-weight: 700;
}
.fund-opts button:active {
  box-shadow: none;
}
.project-view-page .App,
.project-view-page .work-steps,
.project-view-page .messages-thread {
  box-shadow: 0.5px 2px 7px #282c34;
}
.makeStyles-root-1 {
  width: 100%;
}
.makeStyles-root-1 .stepper {
  box-shadow: 0.5px 2px 7px #282c34;
  border-radius: 10px;
}
.employer-info a {
  text-decoration: none;
}
.employer-info .employer-name {
  font-size: 15pt;
}
.employer-info .balance-name {
  font-size: 16pt;
  align-self: center;
}
.alert {
  padding: 20px;
  color: white;
  margin-top: 15px;
  font-size: 12pt;
  box-shadow: 0.5px 2px 7px #282c34;
  border-radius: 10px;
  width: 400px;
  max-width: 100%;
}
.error-alert {
  display: block;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 10;
  /* Sit on top */
  left: 0;
  top: 0;
  padding: 20px;
  background-color: #f44336;
  /* Red */
  color: white;
  margin-bottom: 15px;
  margin-top: 70px;
  margin-left: 35%;
  align-items: center;
  font-size: 12pt;
  padding: 10px;
}
/* The close button */
.close-alert {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
/* When moving the mouse over the close button */
.close-alert:hover {
  color: black;
}
/* The Modal (background) */
.modal {
  display: block;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: #000000;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  min-width: 500px;
  width: 30%;
  /* Could be more or less, depending on screen size */
}
.modal-content .valueH1 {
  text-align: center;
}
.modal-content .columns {
  display: flex;
  flex-direction: column;
}
.modal-content .columns h4 {
  font-size: 13pt;
  border-bottom: 1px dashed gray;
  text-align: center;
  width: 100%;
}
.modal-content .columns .bcode {
  align-self: center;
}
.modal-content .columns .pay-header-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  border-bottom: 1px dashed gray;
}
.modal-content .columns .btc-addr {
  margin-top: 20px;
  text-align: center;
  font-size: 12pt;
  border-radius: 3px;
  border: none;
  font-family: 'IBM Plex Mono', Arial, sans-serif;
}
.modal-content .columns .btc-inputs {
  margin-top: 20px;
  text-align: center;
  font-size: 12pt;
  border-radius: 3px;
  border: none;
  font-family: 'IBM Plex Mono', Arial, sans-serif;
  background-color: lightgray;
}
.modal-content .columns img {
  display: flex;
  flex-direction: row;
  justify-self: flex-start;
  width: 120px;
}
.modal-content .fund-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
}
.modal-content button {
  border: none;
  background-color: #FF3366;
  color: white;
  font-family: 'IBM Plex Mono', Arial, sans-serif;
  padding: 2%;
  box-shadow: 0.5px 2px 7px #282c34;
  cursor: pointer;
  width: 49%;
  border-radius: 10px;
  font-weight: 700;
}
.modal-content button:active {
  box-shadow: none;
}
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.chat-container {
  padding-left: 355px;
  padding-top: 30px;
  padding-right: 30px;
  background-color: white;
  font-family: 'IBM Plex Mono', Arial, sans-serif;
}
.chat-container h3,
.chat-container h2 {
  margin-top: 80px;
  font-family: 'IBM Plex Mono', Arial, sans-serif;
}
.chat-container .chat-page-thread {
  min-height: 100vh;
  height: 100vh;
}
.chat-container .messages-thread {
  margin-top: 50px;
}
.chat-container .message-box {
  font-weight: 600;
}
.sidenav {
  overflow: sroll;
}
.sidenav h4 {
  font-family: 'IBM Plex Mono', Arial, sans-serif;
  margin-bottom: 20px;
  padding-bottom: 0;
}
.sidenav a {
  font-size: 12pt;
  font-weight: 600;
}
.notifications-container {
  background-color: white;
  width: 100%;
  align-self: center;
  justify-self: center;
  padding: 10%;
  padding-top: 50px;
  font-family: 'IBM Plex Mono', Arial, sans-serif;
  font-weight: 600;
}
.notifications-container h3 {
  font-family: 'IBM Plex Mono', Arial, sans-serif;
}
.notifications-container .not-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-self: center;
  justify-self: center;
  text-align: center;
  text-justify: center;
}
.notifications-container .not-list .notif-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12pt;
  box-shadow: 0.5px 2px 7px #282c34;
  padding: 10px;
  padding: 1%;
}
.notifications-container .not-list .notif-item .time-ago {
  font-style: italic;
  font-size: 9pt;
}
.notifications-container .not-list .notif-item .time-ago.from {
  background-color: #00abb4;
  padding: 7px;
  box-shadow: 0.5px 2px 7px #282c34;
  border-radius: 12px;
}
.paginate-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.paginate-buttons button {
  border: none;
  padding: 20px;
  width: 150px;
  color: white;
  background-color: #00abb4;
  box-shadow: 0.5px 2px 7px #282c34;
  font-family: 'IBM Plex Mono', Arial, sans-serif;
  font-weight: 600;
  cursor: pointer;
}
.paginate-buttons button:active {
  box-shadow: none;
}
